<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Customer Form </title>
</head>
<body>
<form th:action="@{/processForm}" th:object="${customer}" method="post">

    first name :<input type="text" th:field="*{firstName}">
    <br><br>
    last name :<input type="text" th:field="*{lastName}">
<!--    show error message-->
<span th:if="${#fields.hasErrors('lastName')}"
      th:Errors="*{lastName}"
      cless="error"></span>
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>