<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


    <!-- Define the Draw2d and Draw3d beans -->
    <bean id="draw2d" class="Draw2d"/>
    <bean id="draw3d" class="Draw3d"/>


    <!-- Define the Circle bean with Constructor Injection and Singleton scope -->
    <bean id="circleShape" class="Circle" scope="singleton">
        <constructor-arg ref="draw2d"/>
    </bean>

    <!-- Define the Square bean with Setter Injection and Prototype scope -->
    <bean id="squareShape" class="Square" scope="prototype">
        <property name="draw3d" ref="draw3d"/>
    </bean>

    <!-- Define the DatabaseOperations bean with init-method and destroy-method -->
    <bean id="databaseOperations" class="DatabaseOperations"
          init-method="connectToDatabase" destroy-method="disconnectFromDatabase"/>


</beans>